@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    font-family: 'Roboto';
}

div {
    text-align: center;
    width: fit-content;
    padding: 20px 20%;
    margin-left: 22%;
    background-color: blueviolet;
    color: white;
    border: .5px solid black;
    border-radius: 5px;
}

body,
footer {
    background-color: springgreen;
    text-align: center;
}